# Build klasörleri
bin/
obj/

# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# VS Code
.vscode/

# Log dosyaları
*.log
log.txt

# Database
*.db
*.db-shm
*.db-wal

# Reports / output
Reports/

# dotnet user secrets
secrets.json

# OS files
Thumbs.db
.DS_Store



# Temporary files
*.tmp
*.temp

# Rider / JetBrains
.idea/

# Node
node_modules/